/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Contenedor principal */
.contenedor {
    display: flex;
    justify-content: flex-start;
    height: 100vh; /* Altura completa de la pantalla */
}

/* Lado izquierdo (Formulario) */
.lado_izquierdo {
    width: 50%; /* Ahora ocupa el 50% */
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    overflow-y: auto;
    position: relative;
}

.logo {
    width: 200px;
    margin-left: 10px;
}

.lado_izquierdo h2 {
    color: #333;
}

.color {
    color: #00cbbf;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 3px;
    margin: 2px 0;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: center;
    font-size: 13px;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 6px;
    top: 28%;
    cursor: pointer;
}

.forgot-password {
    display: block;
    text-align: left;
    margin: 6px 0;
    color: #5132db;
    text-decoration: none;
    font-size: 13px;
}

.btn-ingresar, .btn-huella {
    width: 100%;
    padding: 8px;
    background-color: #00cbbf;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 13px;
    margin-top: 6px;
}

.btn-huella {
    background: none;
    border: 2px solid #00cbbf;
    color: #00cbbf;
    display: flex;
    align-items: center;
    justify-content: center;
}

.huella img {
    width: 20px;
    margin-left: 6px;
}


.volver {
    display: block;
    text-align: left;
    margin-top: 20px;
    color: #000000;
    text-decoration: none;
    position: absolute;
    bottom: 150px;
    left: 30px;
}

/* Lado derecho (Información visual) */
.lado_derecho {
    width: 50%; /* Ahora ocupa el 50% */
    background-color: #00cbbf;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor de los iconos */
.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* Estilos de los iconos dentro de cuadros blancos */
/* Estilos de los iconos dentro de cuadros blancos */
.icono1, .icono2, .icono3 {
    background: white;
    padding: 30px; /* Aumentado el padding para hacer los iconos más grandes */
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espaciado entre iconos */
}

/* Icono 2: Mueve el contenido a la izquierda */
.icono2 {
    display: flex;
    justify-content: flex-start;
    margin-right: 10px;
    margin-left: -300px; /* Mueve el icono aún más a la izquierda */
}

/* Ajustar el tamaño de la imagen de los iconos */
.lado_derecho img {
    width: 76px;
    height: 76px;
}

/* Estilos de los textos */
.lado_derecho h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.lado_derecho p {
    font-size: 18px;
    max-width: 80%;
    text-align: center;
}

/* Botón de descarga */
.btn-descarga {
    display: inline-block;
    padding: 12px 25px;
    background-color: white;
    color: #00cbbf;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    font-weight: bold;
}
